// colors
$colorWhite: #ffffff;
$colorBlack: #000000;
$bodyColor: #252525;
$boxShadow: 0 10px 20px rgb(37, 37, 37, 80%);
$borderColor: #e3e3e3;
$colorBtnGray: #efefef;
$colorBtnBlue: #3333ff;

// media queries

$large: 1200px;
$medium: 991px;
$tablet: 769px;
$largeMobDev: 480px;
$mediumMobDev: 445px;






